@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}
h1{
    font-size: 4rem;
    color: #8f5e03;
    font-weight: lighter;
    font-family: 'Yomogi', cursive;
    margin-bottom: 20px;
}
h2{
    font-size: 2.5rem;
    color: #8f5e03;
}
hr{
    width: 3%;
    text-align:center; 
    margin: 0 auto;
    border: none;
    border-top: 2px dotted #050505;
    border-width: thick;
    border-color: #181716f8;
  }
.top-contain{
    height: 100vh;
    width: 100%;
    background-color: #F0A500;
    padding-top: 70px;
    position: relative;
}
.mid-contain{
    background-color: #CF7500;
}
.bot-contain{
    background-color: #1A1C20;
}
.top1{
    height:100px ;
    width:150px;
    position: absolute;
    right: 200px;
    top: 10px;
    object-fit: contain;
}
.top2{
    height:100px ;
    width:100px;
    left: 200px;
    position: absolute;
    object-fit: contain;
}
.top3{
    width: 54%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) ;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
}
.skill-row > h3,.skill-row > p{
    text-align: left;
}
.skill1{
    width: 25%;
    float: left;
    margin: 40px 50px 50px 0;
}
.skill2{
    width: 25%;
    float: right;
    margin: 30px 0 50px 50px;
}
.skillp1{
    margin: 30px 0 10px 0;
}
.skillp2{
    margin: 30px 0 10px 0;
}
.profile1{
    margin-top:70px;
    width: 25%;
}
.profile-row {
    width: 50%;
    line-height: 2;
    margin: 0 auto 90px auto;
}
.h2{
    color: #F0A500;
}
.skills h2{
    margin-top: 90px;
}
.profile-row p{
 text-align-last: center;
 margin: auto 50px auto 50px;
}
.h3-1{
    margin: 10px 0 10px 20px;
}
.contact-me > h2,.contact-me > h3,.contact-me > p{
    margin: 50px auto 20px auto;
}
.contact-me p{
    text-align: center;
    padding-left: 20vw;
    padding-right: 20vw;

}
.BUTTON_YUP {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
    color: #000000;
    font-size: 20px;
    padding: 10px;
    background-color: #F0A500;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
 }
 .bot-contain{
     padding: 30px;
     padding-bottom: 50px;
 }   
 .footer-link{
     color: #F0A500;
     text-decoration: none;
     padding-right: 20px;
     padding-left: 20px;
 }
 .bot-contain p{
     text-align: center;
     padding-top: 50px;
 }
